.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #f7dcc1;
}

.logo {
    width: 150px;
    height: 150px;
    display: flex;
}

.nav-items {
    padding: 0px 20px;
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items >ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 180px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid gray;
}

.search {
    padding: 20px;
}

.res-logo {
    width: 100%
}

.filter-btn {
    margin:10px 5px;
    margin-left:5px 10px;
    font-size: 16px;
    background-color: #666462;
    color: rgb(243, 230, 230);
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 400px;
    margin: 10px;
    background-color: #e7e5e5;
}

.login-btn {
    padding: 0px 15px;
    font-size: 18px;
    background-color: #88674c;
}
.login-btn:hover {
    cursor: pointer;
    background-color: #a78563;
}

.filter-restaurants {
    display: flex;
    height: 50;
}

.search {
    /* spacing and layout */
    padding: 20px;
    font-size: 18px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box{
    /* let the input grow and sit on the left */
    flex: 1;
    order: 1;
    padding: 5px;
    margin-left: 0;
}

.search-btn {
    /* anchor the button to the right */
    padding: 5px 10px;
    font-size: 16px;
    background-color: #666462;
    color: rgb(243, 230, 230);
    order: 2;
    margin-left: auto;
}